@import "elements.less";

.user-select(@value) {
	user-select: @value;
	-webkit-user-select: @value;
	-moz-user-select: @value;
}

.animation(@value) {
	-webkit-animation: @value;
	-moz-animation: @value;
	animation: @value;
}


/* Wobbly animation */

@-webkit-keyframes wobbly {
	0% {-webkit-transform:rotate(4deg);}
	50% {-webkit-transform:rotate(-4deg);}
	100% {-webkit-transform:rotate(4deg);}
}
 
@-moz-keyframes wobbly {
	0% {-moz-transform:rotate(4deg);}
	50% {-moz-transform:rotate(-4deg);}
	100% {-moz-transform:rotate(4deg);}
}

@keyframes wobbly {
	0% {transform:rotate(4deg);}
	50% {transform:rotate(-4deg);}
	100% {transform:rotate(4deg);}
}


/* Window styles */

@bgactive: #555;
@bgdisabled: #999;

.wm-window {
	@radius: 4px;

	.user-select(none);

	opacity: 0.98;

	position: absolute;
	/*border: 1px solid @bgdisabled;*/

	background-color: #fff; 
	.border-radius(@radius, @radius, @radius, @radius);
	.drop-shadow(0, 0px, 20px, 0.6);


	font-family: "Open Sans", sans-serif;

	header {
		.gradient(@bgdisabled, @bgdisabled, @bgdisabled);
		border: 0;
		padding: 4px 8px;

		h1 {
			.user-select(none);
			cursor: default;

			padding: 0;
			margin: 0;

			font-size: 12px;
			font-weight: 400;
			color: #fff;
		}

		button.wm-close {
			float: right;

			border: 0;
			color: #fff;
			background-color: transparent;

			margin:0;
			padding:0;
		}

		button.wm-close:hover {
		}
	}

	section {
	}

	button.wm-resize {
		position: absolute;
	    bottom: 0;
	    right: 0;

	    background: transparent;
	    border: 0;

	    margin: 0;
	    padding: 0;

	    cursor: nwse-resize;
	}
}

.wm-window.active {
	header {
		.gradient(@bgactive, @bgactive, @bgactive);
	}
}

.wm-window.closed {
	display: none;
}

.wm-window.move {
	.animation(wobbly 0.5s infinite);
}