@import "elements.less";

.user-select(@value) {
	user-select: @value;
	-webkit-user-select: @value;
	-moz-user-select: @value;
}

.wm-window {
	@bgcolor: #555;
	@radius: 2px;

	position: absolute;
	border: 1px solid @bgcolor;

	.border-radius(@radius, @radius, @radius, @radius);
	.drop-shadow(0, 5px, 10px, 0.3);

	header {
		.gradient(@bgcolor, @bgcolor, #666);
		border: 0;
		padding: 4px 8px;

		h1 {
			.user-select(none);
			cursor: default;

			padding: 0;
			margin: 0;

			font-size: 12px;
			font-family: Helvetica, sans-serif;
			color: #fff;
		}
	}

	section {
		background-color: #fff; 
	}
}