<div class="wm-window {{classname}}">
	<div class="wm-window-box">
		<header class="wm-window-title" unselectable="on">
			<h1 unselectable="on">{{title}}</h1>
			<div class="wm-button-group">
				<button class="wm-minimize">&nbsp;</button>
				<button class="wm-maximize">&nbsp;</button>
				<button class="wm-close">&nbsp;</button>
			</div>
		</header>

		<section class="wm-content"></section>

		<button class="wm-resize">&nbsp;</button>
	</div>
	<div class="wm-window-overlay"></div>
</div>
