/**
 * Ventus
 * Copyright © 2012-2013 Ramón Lamana
 * https://github.com/rlamana
 */
.wm-space {
  user-select: none;

  width: 100%;
  height: 100%;
  overflow: hidden;

  z-index: -1;

  cursor: default;

  .wm-overlay {
    user-select: none;

    background-color: #000;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    overflow: hidden;

    opacity: 0;

    transition: opacity 0.5s ease-out;
  }
}
