body {
	font-family: "Open Sans", sans-serif;
	background-color: #fff;

	height: 100%;
	overflow: hidden;

	user-select: none;
}

.wm-space {
	background: url(../img/bg3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	user-select: none;
}

/* Loading Screen */
#loading-screen {
	position: absolute;
	width: 100%;
	height: 100%;

	z-index: 30000;
	overflow: hidden;

	font-weight: 300;

	background-color:  #a93447;
}

#loading-screen section {
	position: relative;
	bottom: 20px;
	left: 20%;

	height: 65%;
	
	margin: 0 auto;

	color: rgba(255,255,255,.9);
}

#loading-screen .content {
	position: absolute;
	bottom: 0;
	left: 0;
}

#loading-screen .content h1 {
	display: inline;

	font-size: 80px;
	font-weight: 300;

	padding: 0;
	margin: 0;
}

#loading-screen .content h2 {
	display: inline;

	font-size: 18px;
	font-weight: 300;

	padding: 0;
	color: rgba(255,255,255,.7);
}

#loading-screen .content p {                
	font-size: 20px;

	padding: 0;
	margin: 0;
}

#loading-screen.hide {
	-webkit-animation: moveout 1.5s .2s ease forwards;
	-moz-animation: moveout 1.5s .2s ease forwards;
	animation: moveout 1.5s .2s ease forwards;
}

/* Out animation */
@-webkit-keyframes moveout {
	0% {-webkit-transform: translateX(0);}
	30% {-webkit-transform: translateX(-10%) scale(.95);}
	100% {-webkit-transform: translateX(150%) scale(.95);}
}

@-moz-keyframes moveout {
	0% {-moz-transform: translateX(0);}
	30% {-moz-transform: translateX(-10%) scale(.95);}
	100% {-moz-transform: translateX(150%) scale(.95);}
}

@keyframes moveout {
	0% {transform: translateX(0);}
	30% {transform: translateX(-10%) scale(.95);}
	100% {transform: translateX(150%) scale(.95);}
}