.todo-app {
	font: 14px 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;

	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: #fff;

	position: relative;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}

.todo-app button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.todo-app label[for='toggle-all'] {
	display: none;
}

.todo-app:before {
	content: '';
	border-left: 1px solid #f5d6d6;
	border-right: 1px solid #f5d6d6;
	width: 2px;
	position: absolute;
	top: 0;
	left: 40px;
	height: 100%;
}

.todo-app input::-webkit-input-placeholder {
	font-style: italic;
}

.todo-app input:-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

.todo-app-header {
	border-radius: inherit;
}

.todo-app-new,
.todo-app .edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.todo-app-new {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.02);
	z-index: 2;
	box-shadow: none;
}

.todo-app-main {
	position: relative;
	z-index: 2;
	border-top: 1px dotted #adadad;
}

.todo-app-toggle-all {
	position: absolute;
	top: -42px;
	left: -4px;
	width: 40px;
	text-align: center;
	border: none; /* Mobile Safari */
}

.todo-app-toggle-all:before {
	content: '»';
	font-size: 28px;
	color: #d9d9d9;
	padding: 0 25px 7px;
}

.todo-app-toggle-all:checked:before {
	color: #737373;
}

.todo-app .todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-app .todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px dotted #ccc;
}

.todo-app .todo-list li:last-child {
	border-bottom: none;
}

.todo-app .todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-app .todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 13px 17px 12px 17px;
	margin: 0 0 0 43px;
}

.todo-app .todo-list li.editing .view {
	display: none;
}

.todo-app .todo-list li .toggle {
	text-align: center;
	width: 40px;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.todo-app .todo-list li .toggle:after {
	font-size: 18px;
	content: '✔';
	line-height: 43px; /* 40 + a couple of pixels visual adjustment */
	font-size: 20px;
	color: #d9d9d9;
	text-shadow: 0 -1px 0 #bfbfbf;
}

.todo-app .todo-list li .toggle:checked:after {
	color: #85ada7;
	text-shadow: 0 1px 0 #669991;
	bottom: 1px;
	position: relative;
}

.todo-app .todo-list li label {
	word-break: break-word;
	padding: 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
}

.todo-app .todo-list li.completed label {
	color: #a9a9a9;
	text-decoration: line-through;
}

.todo-app .todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 22px;
	color: #a88a8a;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;

	border: none;
	background: transparent;
}

.todo-app .todo-list li .destroy:hover {
	text-shadow: 0 0 1px #000,
				 0 0 10px rgba(199, 107, 107, 0.8);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);
}

.todo-app .todo-list li .destroy:after {
	content: '✖';
}

.todo-app .todo-list li:hover .destroy {
	display: block;
}

.todo-app .todo-list li .edit {
	display: none;
}

.todo-app .todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.todo-app .hidden{ 
	display:none;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox and Opera
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.todo-app-toggle-all,
	.todo-app .todo-list li .toggle {
		background: none;
	}

	.todo-app .todo-list li .toggle {
		height: 40px;
	}

	.todo-app-toggle-all {
		top: -56px;
		left: -15px;
		width: 65px;
		height: 41px;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
		-webkit-appearance: none;
		appearance: none;
	}
}
