
<section class="todo-app">
	<header class="todo-app-header">
		<input class="todo-app-new" placeholder="What needs to be done?" autofocus>
	</header>
	<section class="todo-app-main">
		<input class="todo-app-toggle-all" type="checkbox">
		<!--<label for="toggle-all">Mark all as complete</label>-->
		<ul class="todo-list"></ul>
	</section>
</section>

<script type="text/template" id="item-template">
	<div class="view">
		<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
		<label><%- title %></label>
		<button class="destroy"></button>
	</div>
	<input class="edit" value="<%- title %>">
</script>

<script src="apps/todo/vendor/jquery.js"></script>
<script src="apps/todo/vendor/lodash.js"></script>

<script src="apps/todo/js/lib/backbone-min.js"></script>
<script src="apps/todo/js/lib/backbone-localstorage.js"></script>
<script src="apps/todo/js/models/todo.js"></script>
<script src="apps/todo/js/collections/todos.js"></script>
<script src="apps/todo/js/views/todos.js"></script>
<script src="apps/todo/js/views/app.js"></script>
<script src="apps/todo/js/routers/router.js"></script>
<script src="apps/todo/js/app.js"></script>
