<div class="wm-window">
	<header>
		<div class="wm-button-group">
			<button class="wm-close">&times;</button>
		</div>

		<h1>{{title}}</h1>
	</header>

	<section>
		{{content}}
	</section>

	<button class="wm-resize">&nbsp;</button>
</div>
