.todo-app * {
  margin: 0;
  padding: 0;
}

.todo-app button,
.todo-app input[type="checkbox"] {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

.todo-app .hidden {
	display: none;
}

.todoapp {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff;
	margin: 0;
	position: relative;
}

.todoapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.todo-app .new-todo,
.todo-app .edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.todo-app .new-todo {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.todo-app .main {
	position: relative;
	z-index: 2;
	border-top: 1px solid #e6e6e6;
}

.todo-app label[for='toggle-all'] {
	display: none;
}

.todo-app .toggle-all {
	position: absolute;
  top: -47px;
  left: -4px;
	width: 60px;
	height: 34px;
	text-align: center;
	border: none; /* Mobile Safari */
}

.todo-app .toggle-all:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.todo-app .toggle-all:checked:before {
	color: #737373;
}

.todo-app .todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-app .todo-list li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
}

.todo-app .todo-list li:last-child {
	border-bottom: none;
}

.todo-app .todo-list li.editing {
	border-bottom: none;
	padding: 0;
}

.todo-app .todo-list li.editing button,
.todo-app .todo-list li.editing label,
.todo-app .todo-list li.editing .toggle{
	display: none;
}

.todo-app .todo-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.todo-app .todo-list li .toggle {
	text-align: center;
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.todo-app .todo-list li .toggle:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-app .todo-list li .toggle:checked:after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-app .todo-list li label {
	white-space: pre-line;
	word-break: break-all;
	padding: 15px 60px 15px 15px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.todo-app .todo-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.todo-app .todo-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: 0;
}

.todo-app .todo-list li .destroy:hover {
	color: #af5b5e;
}

.todo-app .todo-list li .destroy:after {
	content: '×';
}

.todo-app .todo-list li:hover .destroy {
	display: block;
}

.todo-app .todo-list li .edit {
	display: none;
}

.todo-app .todo-list li.editing:last-child {
	margin-bottom: -1px;
}

.todo-app .footer {
  display: none;
}

.todo-app .filters {
	display: none;
}

.todo-app hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #c5c5c5;
	border-bottom: 1px dashed #f7f7f7;
}