
<section id="todoapp">
	<header id="header">
		<input id="new-todo" placeholder="What needs to be done?" autofocus>
	</header>
	<section id="main">
		<input id="toggle-all" type="checkbox">
		<!--<label for="toggle-all">Mark all as complete</label>-->
		<ul id="todo-list"></ul>
	</section>
</section>

<script type="text/template" id="item-template">
	<div class="view">
		<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
		<label><%- title %></label>
		<button class="destroy"></button>
	</div>
	<input class="edit" value="<%- title %>">
</script>

<script type="text/template" id="stats-template">
	<span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %> left</span>
	<ul id="filters">
		<li>
			<a class="selected" href="#/">All</a>
		</li>
		<li>
			<a href="#/active">Active</a>
		</li>
		<li>
			<a href="#/completed">Completed</a>
		</li>
	</ul>
	<% if (completed) { %>
	<button id="clear-completed">Clear completed (<%= completed %>)</button>
	<% } %>
</script>

<script src="apps/todo/vendor/jquery.js"></script>
<script src="apps/todo/vendor/lodash.js"></script>

<script src="apps/todo/js/lib/backbone-min.js"></script>
<script src="apps/todo/js/lib/backbone-localstorage.js"></script>
<script src="apps/todo/js/models/todo.js"></script>
<script src="apps/todo/js/collections/todos.js"></script>
<script src="apps/todo/js/views/todos.js"></script>
<script src="apps/todo/js/views/app.js"></script>
<script src="apps/todo/js/routers/router.js"></script>
<script src="apps/todo/js/app.js"></script>
